@model PhysicsAdvertisements.MVC.Web.ViewModels.AdvertisementViewModels.MyAdvertisementsVM
@{
    ViewBag.Title = "My advertisements";
}
<link href="~/App_Styles/PartialModules/AdvertisementsSearch_UserPanel.css" rel="stylesheet" />
<link href="~/App_Styles/PartialModules/UserMenu.css" rel="stylesheet" />

<style>
    .user-img {
        height: 100px;
        width: 100px;
    }

    .personal-data, .contact-data {
        list-style-type: none;
        padding: 0px;
    }

    .tbl tbody td {
        border-color: white;
        border-bottom-color: #ded7d7;
    }

    .tbl tr th {
        border-color: white;
        border-bottom-color: #ded7d7;
    }
    .tbl ul{
        list-style-type:none;
        margin:0;
        padding:0;
    }
</style>





<div class="container">
    <br />
    @Html.Partial("~/Views/PartialModules/_AdvertisementsSearch.cshtml", Model.AdvertisementsSearchPartial)
</div>

<div class="container user-data">
    <br />
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h3>My advertisements</h3>
        <hr />
        @Html.Partial("~/Views/PartialModules/_UserMenu.cshtml")

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            @Html.Label(" ", Model.Status, new { @class = "status-label", Style = "color:" + Model.StatusColor + ";" })
        </div>

        <table class="table table-responsive tbl">
            <thead>
                <tr>
                    <td width="120">
                        <label>Added date</label>
                    </td>
                    <td width="120">
                        <label>Exhibitor's image</label>
                    </td>
                    <td>
                        <label>Exhibitor's personal data</label>
                    </td>
                    <td>
                        <label>Physics area</label>
                    </td>
                    <td>
                        <label>Category</label>
                    </td>
                    <td>
                        <label>Title</label>
                    </td>
                    <td>
                        <label>Content</label>
                    </td>
                    <td>
                        <label>Exhibitor's contact data</label>
                    </td>
                    <td>
                        @*Delete buttons*@                      
                    </td>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model.MyAdvertisements)
                {
                    <tr>
                        <td>    @Html.DisplayFor(modelItem => item.AddedDate)   </td>
                        <td>    <img src="@item.UserImageUrl" class="user-img" alt="User image"/>   </td>
                        <td>
                            <ul>
                                @foreach (var personalDataItem in item.FullNameAndAge)
                                {
                                    <li>
                                        @personalDataItem
                                    </li>
                                }
                            </ul>
                        </td>
                        <td>    @Html.DisplayFor(modelItem => item.AdvertisementPhysicsArea)   </td>
                        <td>    @Html.DisplayFor(modelItem => item.AdvertisementCategory)   </td>
                        <td>    @Html.DisplayFor(modelItem => item.AdvertisementTitle)   </td>
                        <td>    @Html.DisplayFor(modelItem => item.AdvertisementContent)   </td>
                        <td>
                            <ul>
                                @foreach (var contactDataItem in item.ContactData)
                                {
                                    <li>
                                        @contactDataItem
                                    </li>
                                }
                            </ul>
                        </td>
                        <td>
                            @Html.ActionLink("Delete", "DeleteAdvertisement", "Advertisement",new { advertisementId = item.AdvertisementId}, new { @class="btn btn-default"})
                        </td>
                    </tr>
                }
            </tbody>
        </table>


        


    </div>
</div>




