@model PhysicsAdvertisements.MVC.Web.ViewModels.AccountViewModels.LoginVM
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link href="../../Content/bootstrap.css" rel="stylesheet" />
    <link href="../../App_Styles/Account/Login.css" rel="stylesheet" />
    <title>Login</title>
</head>
<body>
    <div class="container">

        <div class="form-signin">
            @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="controls-container">
                    <img width="140" height="140" alt="Generic placeholder image" src="../../ecommerce-icon-set-freepik/New/login.png" />
                    <h2 class="form-signin-heading">Please sign in</h2>
                    <label class="sr-only" for="inputEmail">Email address</label>

                    @*<asp:TextBox ID="LoginControl" runat="server" CssClass="form-control" placeholder="Login"></asp:TextBox>*@

                    @Html.TextBoxFor(x => x.Login, new { @class = "form-control", placeholder = "Login" })
                    @Html.ValidationMessageFor(x => x.Login)
                    <label class="sr-only" for="inputPassword">Password</label>

                    @*<asp:TextBox ID="PasswordControl" runat="server" CssClass="form-control" type="password" placeholder="Password"></asp:TextBox>*@

                    @Html.TextBoxFor(x => x.Password, new { @class = "form-control", placeholder = "Password", type = "password" })
                    @Html.ValidationMessageFor(x => x.Password)
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="remember-me" />
                            Remember me
                        </label>
                    </div>

                    <button ID="SubmitControl" type="submit" class="btn btn-lg btn-primary btn-block">Sign in</button>

                    @Html.Label("", Model.Status, new { Style = "color:red;" })
                    <br />
                    <a href="/Home" class="btn-link">Back to Home page</a>

                </div>
            }
            <div class="register">
                <a href="/Account/Register" class="btn-link">Create an account</a>
            </div>
        </div>
    </div>
</body>
</html>





